Repository AutoPas/AutoPas, pull requests merged in 2018-11, with the labels that each got.

#104 Update gtest
  cmake/modules/autopas_gtest.cmake
  libs/googletest-master.zip
Labels: tests

#108 code deduplication LJ Functor test
  tests/testAutopas/LJFunctorTest.cpp
  tests/testAutopas/LJFunctorTest.h
Labels: tests

#109 show build errors correctly
  Jenkinsfile
Labels: Jenkins

#111 fix sph vectorization
  cmake/modules/other-compileroptions.cmake
  src/autopas/sph/SPHCalcDensityFunctor.h
Labels: bug, cmake

#101 Improving simple tuning
  examples/md-flexible/MDFlexParser.cpp
  src/autopas/AutoPas.h
  src/autopas/containers/DirectSum.h
  src/autopas/containers/ParticleContainerInterface.h
  src/autopas/containers/VerletListHelpers.h
  src/autopas/containers/VerletLists.h
  src/autopas/containers/cellPairTraversals/CellPairTraversalInterface.h
  src/autopas/containers/cellPairTraversals/DummyTraversal.h
  src/autopas/containers/cellPairTraversals/SlicedTraversal.h
  src/autopas/pairwiseFunctors/FlopCounterFunctor.h
  src/autopas/pairwiseFunctors/Functor.h
  src/autopas/pairwiseFunctors/LJFunctor.h
  src/autopas/selectors/AutoTuner.h
  src/autopas/selectors/ContainerSelector.h
  src/autopas/selectors/TraversalSelector.h
  src/autopas/sph/SPHCalcDensityFunctor.h
  src/autopas/sph/SPHCalcHydroForceFunctor.h
  tests/testAutopas/AutoTunerTest.cpp
  tests/testAutopas/AutoTunerTest.h
  tests/testAutopas/ContainerSelectorTest.cpp
  tests/testAutopas/Newton3OnOffTest.cpp
  tests/testAutopas/TraversalRaceConditionTest.h
  tests/testAutopas/TraversalSelectorTest.cpp
  tests/testAutopas/mocks/MockFunctor.h
Labels: auto-tuning

#115 Feature/upot div by6
  src/autopas/pairwiseFunctors/LJFunctor.h
  tests/testAutopas/LJFunctorTest.h
Labels: ls1-integration

#118 Feature/flopcounter fix openmp
  Jenkinsfile
  src/autopas/pairwiseFunctors/FlopCounterFunctor.h
  tests/testAutopas/FlopCounterTest.cpp
Labels: bug

#126 RegionParticleIterator tests now openmp + bugfix
  src/autopas/containers/CellBorderAndFlagManager.h
  src/autopas/iterators/ParticleIteratorWrapper.h
  src/autopas/iterators/RegionParticleIterator.h
  tests/testAutopas/RegionParticleIteratorTest.cpp
Labels: bug, tests

#122 Selector strategies
  src/autopas/selectors/AutoTuner.h
  src/autopas/selectors/ContainerSelector.h
  src/autopas/selectors/TraversalSelector.h
  src/autopas/utils/TrivialHash.h
  tests/testAutopas/TraversalSelectorTest.cpp
  tests/testAutopas/TraversalSelectorTest.h
Labels: auto-tuning, enhancement

#127 adds calculation of global values to ljfunctor's soa functor
  examples/md-flexible/strongscaling.sh
  src/autopas/pairwiseFunctors/LJFunctor.h
  src/autopas/sph/SPHCalcDensityFunctor.h
  src/autopas/sph/SPHCalcHydroForceFunctor.h
  tests/testAutopas/LJFunctorTest.cpp
  tests/testAutopas/LJFunctorTest.h
Labels: enhancement, ls1-integration

#124 Direct sum traversal
  examples/CMakeLists.txt
  examples/md-flexible/MDFlexParser.cpp
  examples/md-flexible/MDFlexParser.h
  examples/md-flexible/PrintableMolecule.cpp
  examples/md-flexible/PrintableMolecule.h
  examples/md-flexible/main.cpp
  examples/md-flexible/measurePerf.sh
  examples/md-flexible/plotScript.gp
  examples/md/CMakeLists.txt
  examples/md/md-main.cpp
  examples/md/mdutils.h
  examples/md/measurePerf.sh
  examples/md/plotMeasurements.gp
  examples/sphDiagramGeneration/CMakeLists.txt
  examples/sphDiagramGeneration/sph-diagram-generation.cpp
  src/autopas/containers/DirectSum.h
  src/autopas/containers/LinkedCells.h
  src/autopas/containers/ParticleContainer.h
  src/autopas/containers/VerletLists.h
  src/autopas/containers/cellPairTraversals/CellPairTraversalInterface.h
  src/autopas/containers/cellPairTraversals/DirectSumTraversal.h
  src/autopas/pairwiseFunctors/CellFunctor.h
  src/autopas/pairwiseFunctors/Functor.h
  src/autopas/selectors/TraversalSelector.h
  tests/testAutopas/AutoTunerTest.cpp
  tests/testAutopas/DirectSumContainerTest.cpp
  tests/testAutopas/DirectSumContainerTest.h
  tests/testAutopas/DirectSumTraversalTest.cpp
  tests/testAutopas/DirectSumTraversalTest.h
  tests/testAutopas/LinkedCellsVersusDirectSumTest.cpp
  tests/testAutopas/Newton3OnOffTest.cpp
  tests/testAutopas/TraversalRaceConditionTest.cpp
  tests/testAutopas/TraversalRaceConditionTest.h
  tests/testAutopas/testingHelpers/RandomGenerator.h
Labels: auto-tuning

#128 Faster measure perf
  examples/md-flexible/CMakeLists.txt
  examples/md-flexible/MDFlexParser.cpp
  examples/md-flexible/MDFlexParser.h
  examples/md-flexible/main.cpp
  examples/md-flexible/measurePerf.sh
  examples/md-flexible/plotScript.gp
Labels: tests

#130 Smarter sliced
  src/autopas/containers/cellPairTraversals/SlicedTraversal.h
  tests/testAutopas/C08TraversalTest.h
  tests/testAutopas/SlicedTraversalTest.cpp
  tests/testAutopas/SlicedTraversalTest.h
Labels: auto-tuning, optimization
