Repository AutoPas/AutoPas, pull requests merged in 2019-11, with the labels that each got.

#373 Performance improvements for cmake files
  cmake/modules/clang-format.cmake
  cmake/modules/cmake-format.cmake
  examples/sph-mpi/CMakeLists.txt
Labels: cmake

#374 Make VerletListsLinkedBase directly inherit from ParticleContainerInterface
  src/autopas/containers/ParticleContainer.h
  src/autopas/containers/verletClusterLists/VerletClusterLists.h
  src/autopas/containers/verletListsCellBased/VerletListsLinkedBase.h
  src/autopas/selectors/AutoTuner.h
  src/autopas/selectors/ContainerSelector.h
Labels: refactoring

#376 Refactor baysian tests
  src/autopas/selectors/tuningStrategy/GaussianProcess.h
  tests/testAutopas/tests/selectors/tuningStrategy/BayesianSearchTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/GaussianProcessTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/GaussianProcessTest.h
Labels: optimization

#379 spdlog as lib
  cmake/modules/autopas_spdlog.cmake
  libs/CMakeLists.txt
  libs/spdlog-1.3.1/LICENSE
  libs/spdlog-1.3.1/README.md
  libs/spdlog-1.3.1/include/spdlog/async.h
  libs/spdlog-1.3.1/include/spdlog/async_logger.h
  libs/spdlog-1.3.1/include/spdlog/common.h
  libs/spdlog-1.3.1/include/spdlog/details/async_logger_impl.h
  libs/spdlog-1.3.1/include/spdlog/details/circular_q.h
  libs/spdlog-1.3.1/include/spdlog/details/console_globals.h
  libs/spdlog-1.3.1/include/spdlog/details/file_helper.h
  libs/spdlog-1.3.1/include/spdlog/details/fmt_helper.h
  libs/spdlog-1.3.1/include/spdlog/details/log_msg.h
  libs/spdlog-1.3.1/include/spdlog/details/logger_impl.h
  libs/spdlog-1.3.1/include/spdlog/details/mpmc_blocking_q.h
  libs/spdlog-1.3.1/include/spdlog/details/null_mutex.h
  libs/spdlog-1.3.1/include/spdlog/details/os.h
  libs/spdlog-1.3.1/include/spdlog/details/pattern_formatter.h
  libs/spdlog-1.3.1/include/spdlog/details/periodic_worker.h
  libs/spdlog-1.3.1/include/spdlog/details/registry.h
  libs/spdlog-1.3.1/include/spdlog/details/thread_pool.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bin_to_hex.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/LICENSE.rst
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/chrono.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/color.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/core.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/format-inl.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/format.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/locale.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/ostream.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/posix.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/printf.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/ranges.h
  libs/spdlog-1.3.1/include/spdlog/fmt/bundled/time.h
  libs/spdlog-1.3.1/include/spdlog/fmt/fmt.h
  libs/spdlog-1.3.1/include/spdlog/fmt/ostr.h
  libs/spdlog-1.3.1/include/spdlog/formatter.h
  libs/spdlog-1.3.1/include/spdlog/logger.h
  libs/spdlog-1.3.1/include/spdlog/sinks/android_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/ansicolor_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/base_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/basic_file_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/daily_file_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/dist_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/msvc_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/null_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/ostream_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/rotating_file_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/stdout_color_sinks.h
  libs/spdlog-1.3.1/include/spdlog/sinks/stdout_sinks.h
  libs/spdlog-1.3.1/include/spdlog/sinks/syslog_sink.h
  libs/spdlog-1.3.1/include/spdlog/sinks/wincolor_sink.h
  libs/spdlog-1.3.1/include/spdlog/spdlog.h
  libs/spdlog-1.3.1/include/spdlog/tweakme.h
  libs/spdlog-1.3.1/include/spdlog/version.h
  libs/spdlog-1.x.zip
  src/autopas/containers/verletClusterLists/VerletClusterCells.h
  src/autopas/containers/verletClusterLists/traversals/VerletClusterCellsTraversal.h
Labels: cmake

#380 Look for system libs
  CMakeLists.txt
  cmake/modules/autopas_eigen.cmake
  cmake/modules/autopas_spdlog.cmake
  cmake/modules/autopas_yaml-cpp.cmake
  examples/md-flexible/CMakeLists.txt
  examples/md-flexible/parsing/CLIParser.cpp
  examples/md-flexible/tests/CMakeLists.txt
  examples/md-flexible/tests/TimeDiscretizationTest.cpp
  libs/CMakeLists.txt
  libs/eigen-eigen-323c052e1731.zip
  libs/eigen-eigen-66be6c76fc01.zip
  libs/yaml-cpp-master.zip
  src/autopas/CMakeLists.txt
  tests/testAutopas/CMakeLists.txt
Labels: cmake

#381 Refactor Time Discretization
  examples/md-flexible/Simulation.h
  examples/md-flexible/TimeDiscretization.h
  examples/md-flexible/tests/TimeDiscretizationTest.cpp
  examples/md-flexible/tests/TimeDiscretizationTest.h
Labels: examples, refactoring, tests

#382 stateless Thermostat
  examples/md-flexible/Simulation.h
  examples/md-flexible/Thermostat.h
  examples/md-flexible/input/AllOptions.yaml
  examples/md-flexible/parsing/MDFlexConfig.cpp
  examples/md-flexible/parsing/MDFlexConfig.h
  examples/md-flexible/parsing/YamlParser.cpp
  examples/md-flexible/parsing/YamlParser.h
  examples/md-flexible/tests/ThermostatTest.cpp
  examples/md-flexible/tests/ThermostatTest.h
Labels: examples, refactoring

#383 Update gtest to v1.10.0
  cmake/modules/autopas_gtest.cmake
  libs/googletest-1.10.0.zip
  libs/googletest-master.zip
  tests/testAutopas/mocks/MockFunctor.h
  tests/testAutopas/mocks/MockVerletLists.h
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTest.h
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterListsTest.h
  tests/testAutopas/tests/containers/verletLists/VarVerletListsTest.h
  tests/testAutopas/tests/containers/verletLists/VerletListsTest.h
  tests/testAutopas/tests/containers/verletListsCells/VerletListsCellsTest.h
Labels: dependencies, tests

#385 Shift is a Particle Property
  examples/md-flexible/Simulation.h
  examples/md-flexible/tests/ParticlePropertiesLibraryTest.cpp
  examples/md-flexible/tests/ParticlePropertiesLibraryTest.h
  examples/md-flexible/tests/ThermostatTest.h
  examples/md-flexible/tests/TimeDiscretizationTest.h
  src/autopas/molecularDynamics/LJFunctor.h
  src/autopas/molecularDynamics/LJFunctorAVX.h
  src/autopas/molecularDynamics/ParticlePropertiesLibrary.h
  tests/testAutopas/tests/autopasInterface/AutoPasInterfaceTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorAVXTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorAVXTest.h
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorTest.h
Labels: bug
