Repository AutoPas/AutoPas, pull requests merged in 2019-12, with the labels that each got.

#386 Jenkins: enable ccache
  Jenkinsfile
  cmake/modules/ccache.cmake
Labels: Jenkins

#378 Tuning tools
  cmake/modules/harmony.cmake
  examples/md-flexible/input/SpinodalDecomposition.yaml
  examples/md-flexible/input/SpinodalDecomposition_equilibration.yaml
  libs/CMakeLists.txt
  libs/harmony.zip
  src/autopas/AutoPas.h
  src/autopas/CMakeLists.txt
  src/autopas/options/TuningStrategyOption.h
  src/autopas/selectors/tuningStrategy/ActiveHarmony.h
  tests/testAutopas/tests/options/OptionTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/ActiveHarmonyTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/ActiveHarmonyTest.h
Labels: auto-tuning

#390 fixed initialization of autopas object
  examples/md-flexible/Simulation.h
Labels: examples
