Repository AutoPas/AutoPas, pull requests merged in 2020-01, with the labels that each got.

#389 Selective Shifting
  examples/md-flexible/Simulation.h
  examples/md-flexible/tests/ParticlePropertiesLibraryTest.cpp
  src/autopas/molecularDynamics/LJFunctor.h
  src/autopas/molecularDynamics/LJFunctorAVX.h
  tests/testAutopas/tests/autopasInterface/AutoPasInterfaceTest.cpp
  tests/testAutopas/tests/containers/DSCudaTraversalVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/LCCudaTraversalVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVarVerletListsTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletClusterListsTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletListsCellsTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletListsTest.cpp
  tests/testAutopas/tests/containers/linkedCells/traversals/C04SoATraversalTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTraversalVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/verletLists/VerletListsTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/AoSvsCudaTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/AoSvsSoATest.cpp
  tests/testAutopas/tests/pairwiseFunctors/ForceCalculationTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorAVXTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorCudaTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorTest.cpp
  tests/testAutopas/tests/selectors/AutoTunerTest.cpp
Labels: enhancement, ls1-integration

#397 Fix particle properties init
  examples/md-flexible/parsing/MDFlexConfig.cpp
  examples/md-flexible/parsing/YamlParser.cpp
Labels: examples

#395 fixes #393: handling of boundary conditions for md-flexible
  Jenkinsfile
  examples/md-flexible/CMakeLists.txt
  examples/md-flexible/Simulation.h
  examples/md-flexible/parsing/MDFlexConfig.cpp
  examples/md-flexible/parsing/MDFlexConfig.h
  examples/md-flexible/scrips/measurePerf.sh
  src/autopas/LogicHandler.h
  src/autopas/containers/directSum/DirectSum.h
  src/autopas/containers/linkedCells/LinkedCells.h
  src/autopas/containers/verletClusterLists/VerletClusterCells.h
  src/autopas/containers/verletClusterLists/VerletClusterCellsParticleIterator.h
  src/autopas/containers/verletClusterLists/VerletClusterLists.h
  src/autopas/containers/verletClusterLists/traversals/VerletClusterCellsTraversal.h
  src/autopas/containers/verletClusterLists/traversals/VerletClusterTraversalInterface.h
  src/autopas/containers/verletListsCellBased/VerletListsLinkedBase.h
  src/autopas/containers/verletListsCellBased/verletLists/VerletListHelpers.h
  src/autopas/containers/verletListsCellBased/verletLists/neighborLists/asBuild/AsBuildPairGeneratorFunctor.h
  src/autopas/containers/verletListsCellBased/verletListsCells/VerletListsCellsHelpers.h
  src/autopas/molecularDynamics/LJFunctor.h
  src/autopas/molecularDynamics/LJFunctorAVX.h
  src/autopas/molecularDynamics/LJFunctorCuda.cuh
  src/autopas/molecularDynamics/LJFunctorCudaGlobals.cuh
  src/autopas/pairwiseFunctors/FlopCounterFunctor.h
  src/autopas/pairwiseFunctors/Functor.h
  src/autopas/pairwiseFunctors/FunctorCuda.cuh
  src/autopas/selectors/AutoTuner.h
  src/autopas/selectors/ContainerSelector.h
  src/autopas/selectors/ContainerSelectorInfo.h
  src/autopas/selectors/TraversalSelector.h
  src/autopas/selectors/TraversalSelectorInfo.h
  src/autopas/sph/SPHCalcDensityFunctor.h
  src/autopas/sph/SPHCalcHydroForceFunctor.h
  tests/testAutopas/mocks/MockFunctor.h
  tests/testAutopas/testingHelpers/TouchableParticle.h
  tests/testAutopas/tests/autopasInterface/IteratorTest.cpp
  tests/testAutopas/tests/autopasInterface/IteratorTest.h
  tests/testAutopas/tests/autopasInterface/Newton3OnOffTest.cpp
  tests/testAutopas/tests/containers/linkedCells/traversals/TraversalRaceConditionTest.h
  tests/testAutopas/tests/containers/linkedCells/traversals/TraversalTest.cpp
  tests/testAutopas/tests/containers/linkedCells/traversals/TraversalTest.h
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTraversalVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTraversalVersusDirectSumTest.h
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterListsTest.h
  tests/testAutopas/tests/iterators/RegionParticleIteratorTest.h
  tests/testAutopas/tests/selectors/ContainerSelectorTest.cpp
  tests/testAutopas/tests/selectors/TraversalSelectorTest.cpp
  tools/autopasTools/generators/RandomGenerator.h
Labels: bug, examples

#400 Make all methods adding or updating particles take const Particle&
  src/autopas/AutoPas.h
  src/autopas/LogicHandler.h
  src/autopas/containers/ParticleContainerInterface.h
  src/autopas/containers/directSum/DirectSum.h
  src/autopas/containers/linkedCells/LinkedCells.h
  src/autopas/containers/verletClusterLists/VerletClusterCells.h
  src/autopas/containers/verletClusterLists/VerletClusterLists.h
  src/autopas/containers/verletListsCellBased/VerletListsLinkedBase.h
Labels: refactoring

#403 also write vtk write frequency
  examples/md-flexible/parsing/MDFlexConfig.cpp
Labels: examples
