Repository AutoPas/AutoPas, pull requests merged in 2020-10, with the labels that each got.

#543 Adds proper version info.
  src/autopas/AutoPas.h
  src/autopas/CMakeLists.txt
  src/autopas/Version.h.in
  version.cmake
Labels: cmake

#541 dot product:
  src/autopas/pairwiseFunctors/FlopCounterFunctor.h
  src/autopas/utils/ArrayMath.h
Labels: optimization, test-performance

#544 Particle id fixes
  examples/md-flexible/input/fallingDrop.yaml
  examples/md-flexible/src/Simulation.h
  tools/autopasTools/generators/ClosestPackingGenerator.h
  tools/autopasTools/generators/GridGenerator.h
Labels: examples

#547 Doc for enums
  src/autopas/options/ContainerOption.h
  src/autopas/options/DataLayoutOption.h
  src/autopas/options/LoadEstimatorOption.h
  src/autopas/options/Newton3Option.h
  src/autopas/options/TraversalOption.h
Labels: documentation
