Repository AutoPas/AutoPas, pull requests merged in 2020-04, with the labels that each got.

#441 fix errors in StaticSelectors.h
  src/autopas/utils/StaticSelectors.h
Labels: bug, good first issue

#448 Skip tests that are skipped
  src/autopas/selectors/TraversalSelector.h
  tests/testAutopas/tests/containers/linkedCells/traversals/TraversalTest.cpp
Labels: bug, tests

#440 Predictive Tuning
  src/autopas/selectors/AutoTuner.h
  src/autopas/selectors/tuningStrategy/ActiveHarmony.h
  src/autopas/selectors/tuningStrategy/BayesianSearch.h
  src/autopas/selectors/tuningStrategy/FullSearch.h
  src/autopas/selectors/tuningStrategy/PredictiveTuning.h
  src/autopas/selectors/tuningStrategy/RandomSearch.h
  src/autopas/selectors/tuningStrategy/TuningStrategyInterface.h
  tests/testAutopas/tests/selectors/tuningStrategy/BayesianSearchTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/FullSearchTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/PredictiveTuningTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/PredictiveTuningTest.h
Labels: auto-tuning
