Repository AutoPas/AutoPas, pull requests merged in 2020-02, with the labels that each got.

#319 VerletClusters refactoring
  src/autopas/cells/FullParticleCell.h
  src/autopas/cells/SortedCellView.h
  src/autopas/containers/CellBlock3D.h
  src/autopas/containers/ParticleContainer.h
  src/autopas/containers/cellPairTraversals/CBasedTraversal.h
  src/autopas/containers/cellPairTraversals/SlicedBasedTraversal.h
  src/autopas/containers/directSum/DirectSum.h
  src/autopas/containers/linkedCells/LinkedCells.h
  src/autopas/containers/verletClusterLists/Cluster.h
  src/autopas/containers/verletClusterLists/ClusterTower.h
  src/autopas/containers/verletClusterLists/VerletClusterCells.h
  src/autopas/containers/verletClusterLists/VerletClusterLists.h
  src/autopas/containers/verletClusterLists/VerletClusterListsRebuilder.h
  src/autopas/containers/verletClusterLists/VerletClusterMaths.h
  src/autopas/containers/verletClusterLists/traversals/ClusterFunctor.h
  src/autopas/containers/verletClusterLists/traversals/VerletClustersColoringTraversal.h
  src/autopas/containers/verletClusterLists/traversals/VerletClustersTraversal.h
  src/autopas/containers/verletClusterLists/traversals/VerletClustersTraversalInterface.h
  src/autopas/containers/verletListsCellBased/verletLists/traversals/TraversalVerlet.h
  src/autopas/iterators/RegionParticleIterator.h
  src/autopas/iterators/SingleCellIterator.h
  src/autopas/selectors/OptimumSelector.h
  tests/testAutopas/testingHelpers/TouchableParticle.h
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletClusterListsTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterListsTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterListsTest.h
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterTowerTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterTowerTest.h
Labels: enhancement, refactoring

#415 Introduces TuningStrategyFactory
  cmake/modules/other-compileroptions.cmake
  src/autopas/AutoPas.h
  src/autopas/CMakeLists.txt
  src/autopas/selectors/FeatureVector.h
  src/autopas/selectors/tuningStrategy/BayesianSearch.h
  src/autopas/selectors/tuningStrategy/GaussianProcess.cpp
  src/autopas/selectors/tuningStrategy/GaussianProcess.h
  src/autopas/selectors/tuningStrategy/TuningStrategyFactory.cpp
  src/autopas/selectors/tuningStrategy/TuningStrategyFactory.h
  tests/testAutopas/CMakeLists.txt
  tests/testAutopas/tests/selectors/tuningStrategy/GaussianProcessTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/GaussianProcessTest.h
Labels: cmake, refactoring

#424 Fix lgtm
  .lgtm.yml
  tools/autopasTools/generators/RandomGenerator.h
Labels: lgtm

#425 Uses target_compile_features to set cxx_std_17 and cuda_std_14
  CMakeLists.txt
  cmake/modules/cuda.cmake
  cmake/modules/other-compileroptions.cmake
Labels: cmake, cuda

#301 Container Tests Refactoring
  Jenkinsfile
  src/autopas/LogicHandler.h
  src/autopas/containers/ParticleContainerInterface.h
  src/autopas/containers/cellPairTraversals/C04BasedTraversal.h
  src/autopas/containers/directSum/DirectSum.h
  src/autopas/containers/linkedCells/LinkedCells.h
  src/autopas/containers/linkedCells/traversals/C01CudaTraversal.h
  src/autopas/containers/linkedCells/traversals/C04SoATraversal.h
  src/autopas/containers/linkedCells/traversals/C04Traversal.h
  src/autopas/containers/linkedCells/traversals/C08CellHandler.h
  src/autopas/containers/linkedCells/traversals/C18Traversal.h
  src/autopas/containers/verletClusterLists/VerletClusterCells.h
  src/autopas/containers/verletClusterLists/VerletClusterLists.h
  src/autopas/containers/verletClusterLists/VerletClusterListsRebuilder.h
  src/autopas/containers/verletClusterLists/traversals/ClusterFunctor.h
  src/autopas/containers/verletListsCellBased/VerletListsLinkedBase.h
  src/autopas/containers/verletListsCellBased/verletLists/VarVerletLists.h
  src/autopas/containers/verletListsCellBased/verletLists/VerletLists.h
  src/autopas/molecularDynamics/LJFunctorCuda.cu
  src/autopas/molecularDynamics/LJFunctorCudaGlobals.cu
  src/autopas/pairwiseFunctors/CellFunctor.h
  src/autopas/selectors/TraversalSelector.h
  tests/testAutopas/CMakeLists.txt
  tests/testAutopas/tests/containers/AllContainersTests.cpp
  tests/testAutopas/tests/containers/AllContainersTests.h
  tests/testAutopas/tests/containers/DSCudaTraversalVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/DSCudaTraversalVersusDirectSumTest.h
  tests/testAutopas/tests/containers/LCCudaTraversalVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/LCCudaTraversalVersusDirectSumTest.h
  tests/testAutopas/tests/containers/LinkedCellsVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusDirectSumTest.h
  tests/testAutopas/tests/containers/LinkedCellsVersusVarVerletListsTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVarVerletListsTest.h
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletClusterListsTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletClusterListsTest.h
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletListsCellsTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletListsCellsTest.h
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletListsTest.cpp
  tests/testAutopas/tests/containers/LinkedCellsVersusVerletListsTest.h
  tests/testAutopas/tests/containers/TraversalComparison.cpp
  tests/testAutopas/tests/containers/TraversalComparison.h
  tests/testAutopas/tests/containers/directSum/DirectSumContainerTest.cpp
  tests/testAutopas/tests/containers/linkedCells/LinkedCellsTest.cpp
  tests/testAutopas/tests/containers/linkedCells/traversals/C04SoATraversalTest.cpp
  tests/testAutopas/tests/containers/linkedCells/traversals/C04SoATraversalTest.h
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTraversalVersusDirectSumTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterCellsTraversalVersusDirectSumTest.h
  tests/testAutopas/tests/containers/verletLists/VarVerletListsTest.cpp
  tests/testAutopas/tests/containers/verletLists/VerletListsTest.cpp
  tests/testAutopas/tests/pairwiseFunctors/LJFunctorCudaTest.cpp
  tests/testAutopas/tests/selectors/AutoTunerTest.cpp
  tools/autopasTools/generators/GridGenerator.h
Labels: low priority, refactoring, tests
