Repository AutoPas/AutoPas, pull requests merged in 2020-06, with the labels that each got.

#462 New extrapolation methods for predictive tuning
  examples/md-flexible/scripts/README.md
  examples/md-flexible/scripts/compareOptimumCongfiguration.py
  examples/md-flexible/scripts/plotDiffPredictionTest.py
  examples/md-flexible/scripts/plotPrediction.py
  examples/md-flexible/src/Simulation.h
  examples/md-flexible/src/parsing/CLIParser.cpp
  examples/md-flexible/src/parsing/MDFlexConfig.cpp
  examples/md-flexible/src/parsing/MDFlexConfig.h
  examples/md-flexible/src/parsing/YamlParser.cpp
  src/autopas/AutoPas.h
  src/autopas/options/ExtrapolationMethodOption.h
  src/autopas/selectors/tuningStrategy/FullSearch.h
  src/autopas/selectors/tuningStrategy/PredictiveTuning.h
  src/autopas/selectors/tuningStrategy/TuningStrategyFactory.cpp
  src/autopas/selectors/tuningStrategy/TuningStrategyFactory.h
  tests/testAutopas/tests/selectors/tuningStrategy/PredictiveTuningTest.cpp
  tests/testAutopas/tests/selectors/tuningStrategy/PredictiveTuningTest.h
  tests/testAutopas/tests/selectors/tuningStrategy/TuningStrategyTest.cpp
Labels: auto-tuning

#496 Jenkins: Updates plugin usage
  Jenkinsfile
Labels: Jenkins

#492 Minor fixes
  examples/md-flexible/CMakeLists.txt
  examples/md-flexible/src/Generator.h
  examples/md-flexible/src/parsing/MDFlexConfig.cpp
  examples/md-flexible/src/parsing/YamlParser.cpp
  src/autopas/containers/linkedCells/LinkedCells.h
  src/autopas/pairwiseFunctors/CellFunctor.h
Labels: bug, test-performance
