Repository AutoPas/AutoPas, pull requests merged in 2020-09, with the labels that each got.

#526 Falling Drop
  examples/md-flexible/input/fallingDrop.yaml
  examples/md-flexible/src/BoundaryConditions.h
  examples/md-flexible/src/Generator.h
  examples/md-flexible/src/Objects/CubeClosestPacked.h
  examples/md-flexible/src/Objects/Objects.h
  examples/md-flexible/src/Simulation.h
  examples/md-flexible/src/parsing/CLIParser.cpp
  examples/md-flexible/src/parsing/MDFlexConfig.cpp
  examples/md-flexible/src/parsing/MDFlexConfig.h
  examples/md-flexible/src/parsing/YamlParser.cpp
  src/autopas/AutoPas.h
  src/autopas/LogicHandler.h
  src/autopas/containers/verletClusterCells/VerletClusterCells.h
  src/autopas/containers/verletClusterLists/VerletClusterLists.h
  src/autopas/containers/verletListsCellBased/verletListsCells/VerletListsCells.h
  src/autopas/particles/ParticleBase.h
  tests/testAutopas/tests/autopasInterface/AutoPasTest.cpp
  tools/autopasTools/generators/ClosestPackingGenerator.h
Labels: bug, examples

#533 Optimizes ParticlePropertiesLibrary
  examples/md-flexible/src/Simulation.h
  examples/md-flexible/tests/ParticlePropertiesLibraryTest.cpp
  examples/md-flexible/tests/ParticlePropertiesLibraryTest.h
  examples/md-flexible/tests/ThermostatTest.h
  examples/md-flexible/tests/TimeDiscretizationTest.h
  src/autopas/molecularDynamics/LJFunctor.h
  src/autopas/molecularDynamics/ParticlePropertiesLibrary.h
  tests/testAutopas/tests/molecularDynamics/LJFunctorTestNoGlobals.cpp
  tests/testAutopas/tests/molecularDynamics/LJFunctorTestVs.cpp
Labels: test-performance

#534 Optimizations for VCL
  src/autopas/containers/verletClusterLists/ClusterTower.h
  src/autopas/containers/verletClusterLists/VerletClusterLists.h
  src/autopas/containers/verletClusterLists/VerletClusterListsRebuilder.h
  tests/testAutopas/tests/autopasInterface/IteratorTest.cpp
Labels: optimization
