Repository AutoPas/AutoPas, pull requests merged in 2021-08, with the labels that each got.

#633 Fix CI Fails
  Jenkinsfile
  cmake/modules/CodeCoverage.cmake
  examples/sph-mpi/CMakeLists.txt
  src/autopas/utils/Math.h
Labels: tests

#639 Cleanup of MPI linkings
  cmake/modules/autopas_mpi.cmake
  examples/md-flexible/CMakeLists.txt
  examples/md-flexible/tests/CMakeLists.txt
  examples/sph-mpi/CMakeLists.txt
  src/autopas/CMakeLists.txt
Labels: cmake

#647 [CI] Abort old jobs
  Jenkinsfile
Labels: Jenkins
