Repository AutoPas/AutoPas, pull requests merged in 2023-03, with the labels that each got.

#725 Extend cubeClosestPacked for md_flexible
  examples/md-flexible/src/configuration/objects/CubeClosestPacked.h
  examples/md-flexible/src/configuration/objects/Object.h
  examples/md-flexible/tests/ParticlePropertiesLibraryTest.cpp
  examples/md-flexible/tests/configuration/GeneratorsTest.cpp
  examples/md-flexible/tests/configuration/MDFlexConfigTest.cpp
  examples/md-flexible/tests/yamlTestFiles/cubeClosestPacked.yaml
  examples/md-flexible/tests/yamlTestFiles/multipleObjectsWithMultipleTypesTest.yaml
  tools/autopasTools/generators/ClosestPackingGenerator.h
Labels: examples

#727 AUTOPAS_ENABLE_ALLLBL -> MD_FLEXIBLE_ENABLE_ALLLBL
  cmake/modules/autopas_all.cmake
  examples/md-flexible/src/domainDecomposition/RegularGridDecomposition.cpp
  examples/md-flexible/src/domainDecomposition/RegularGridDecomposition.h
  libs/CMakeLists.txt
Labels: cmake, examples

#719 update actions/checkout@v2 -> v3
  .github/workflows/TestSuites.yaml
  .github/workflows/doxygen.yaml
Labels: CI
