Repository AutoPas/AutoPas, pull requests merged in 2024-05, with the labels that each got.

#857 More Small Fixes
  cmake/modules/autopas_logging.cmake
  src/autopas/AutoPasImpl.h
  src/autopas/LogicHandler.h
  src/autopas/containers/LoadEstimators.h
  src/autopas/containers/ParticleContainerInterface.h
  src/autopas/containers/linkedCells/traversals/LCC04Traversal.h
  src/autopas/containers/verletListsCellBased/verletListsCells/VerletListsCells.h
  src/autopas/containers/verletListsCellBased/verletListsCells/VerletListsCellsHelpers.h
  src/autopas/containers/verletListsCellBased/verletListsCells/neighborLists/VLCAllCellsGeneratorFunctor.h
  src/autopas/containers/verletListsCellBased/verletListsCells/neighborLists/VLCAllCellsNeighborList.h
  src/autopas/containers/verletListsCellBased/verletListsCells/neighborLists/VLCCellPairNeighborList.h
  src/autopas/containers/verletListsCellBased/verletListsCells/neighborLists/VLCNeighborListInterface.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCC01Traversal.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCC18Traversal.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCCellPairC08Traversal.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCSlicedBalancedTraversal.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCSlicedC02Traversal.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCSlicedTraversal.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCTraversalInterface.h
  src/autopas/iterators/ContainerIterator.h
  src/autopas/options/TraversalOption.h
  src/autopas/tuning/AutoTuner.cpp
  src/autopas/tuning/selectors/ContainerSelector.h
  src/autopas/utils/logging/IterationLogger.cpp
  src/autopas/utils/logging/Logger.h
  src/autopas/utils/logging/PredictionLogger.cpp
  src/autopas/utils/logging/TuningDataLogger.cpp
  src/autopas/utils/logging/TuningDataLogger.h
  tests/testAutopas/tests/containers/verletListsCellBased/verletListsCells/PairwiseVerletListsTest.h
  tests/testAutopas/tests/containers/verletListsCellBased/verletListsCells/VerletListsCellsTest.cpp
Labels: low priority

#854 Sorting DirectSum and single cells
  docs/graphics/DSHalos.svg
  src/autopas/containers/directSum/DirectSum.h
  src/autopas/containers/directSum/traversals/DSSequentialTraversal.h
  src/autopas/pairwiseFunctors/CellFunctor.h
  tests/testAutopas/tests/containers/directSum/DSSequentialTraversalTest.cpp
Labels: optimization

#875 Remove example folder from harmony.zip
  cmake/modules/autopas_harmony.cmake
  libs/harmony.zip
Labels: cmake, dependencies

#874 Make Active Harmony Optional
  .github/workflows/TestSuites.yaml
  cmake/modules/autopas_harmony.cmake
  libs/harmony.zip
  src/autopas/CMakeLists.txt
  src/autopas/tuning/tuningStrategy/ActiveHarmony.cpp
  src/autopas/tuning/tuningStrategy/ActiveHarmony.h
  tests/testAutopas/CMakeLists.txt
Labels: cmake, refactoring
