Repository AutoPas/AutoPas, pull requests merged in 2024-08, with the labels that each got.

#926 Fix FLOP counting in Tests
  applicationLibrary/molecularDynamics/tests/singleSiteTests/ForceCalculationTest.cpp
  tests/testAutopas/testingHelpers/commonTypedefs.h
  tests/testAutopas/tests/containers/linkedCells/traversals/SlicedTraversalTest.cpp
Labels: bug, tests

#888 Coverage Report
  .github/PULL_REQUEST_TEMPLATE.md
  CMakeLists.txt
  cmake/modules/CodeCoverage.cmake
  cmake/modules/autopas_CodeCoverage.cmake
  docs/userdoc/Testing.md
  tests/testAutopas/CMakeLists.txt
Labels: enhancement, tests

#913 Refactor C08 Base Step
  src/autopas/containers/linkedCells/traversals/LCC04SoACellHandler.h
  src/autopas/containers/linkedCells/traversals/LCC08CellHandler.h
  src/autopas/containers/linkedCells/traversals/LCC08CellHandlerUtility.cpp
  src/autopas/containers/linkedCells/traversals/LCC08CellHandlerUtility.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCCellPairC08CellHandler.h
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCCellPairC08Traversal.h
  src/autopas/namespaces.h
  tests/testAutopas/CMakeLists.txt
  tests/testAutopas/tests/containers/linkedCells/traversals/LCC08CellHandlerUtilityTest.cpp
  tests/testAutopas/tests/containers/linkedCells/traversals/LCC08CellHandlerUtilityTest.h
Labels: refactoring

#925 Fix Object Generators
  applicationLibrary/molecularDynamics/tests/singleSiteTests/LJFunctorAVXTest.cpp
  applicationLibrary/molecularDynamics/tests/singleSiteTests/LJFunctorSVETest.cpp
  applicationLibrary/molecularDynamics/tests/singleSiteTests/LJFunctorTestGlobals.h
  applicationLibrary/molecularDynamics/tests/singleSiteTests/LJFunctorTestNoGlobals.h
  applicationLibrary/molecularDynamics/tests/singleSiteTests/LJFunctorTestVs.cpp
  applicationLibrary/molecularDynamics/tests/singleSiteTests/LJFunctorTestVs.h
  applicationLibrary/sph/tests/SPHTest.cpp
  applicationLibrary/sph/tests/SPHTest.h
  examples/md-flexible/input/AllOptions.yaml
  examples/md-flexible/src/Simulation.cpp
  examples/md-flexible/src/configuration/MDFlexConfig.cpp
  examples/md-flexible/src/configuration/objects/CubeClosestPacked.h
  examples/md-flexible/src/configuration/objects/CubeGauss.h
  examples/md-flexible/src/configuration/objects/CubeGrid.h
  examples/md-flexible/src/configuration/objects/CubeUniform.h
  examples/md-flexible/src/configuration/objects/Object.h
  examples/md-flexible/src/configuration/objects/Sphere.h
  examples/md-flexible/tests/configuration/GeneratorsTest.cpp
  examples/sphDiagramGeneration/sph-diagram-generation.cpp
  src/autopas/containers/verletListsCellBased/verletListsCells/traversals/VLCC18Traversal.h
  src/autopas/utils/logging/LiveInfoLogger.h
  tests/testAutopas/tests/autopasInterface/AutoPasAllContainersTest.cpp
  tests/testAutopas/tests/autopasInterface/Newton3OnOffTest.cpp
  tests/testAutopas/tests/autopasInterface/Newton3OnOffTest.h
  tests/testAutopas/tests/containers/TraversalComparison.cpp
  tests/testAutopas/tests/containers/TraversalComparison.h
  tests/testAutopas/tests/containers/directSum/DSSequentialTraversalTest.cpp
  tests/testAutopas/tests/containers/linkedCells/traversals/TraversalTest.h
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterListsTest.cpp
  tests/testAutopas/tests/containers/verletClusterLists/VerletClusterListsTest.h
  tests/testAutopas/tests/containers/verletListsCellBased/varVerletLists/VarVerletListsTest.h
  tests/testAutopas/tests/containers/verletListsCellBased/verletLists/VerletListsTest.cpp
  tests/testAutopas/tests/containers/verletListsCellBased/verletLists/VerletListsTest.h
  tests/testAutopas/tests/containers/verletListsCellBased/verletListsCells/PairwiseVerletListsTest.cpp
  tests/testAutopas/tests/containers/verletListsCellBased/verletListsCells/PairwiseVerletListsTest.h
  tests/testAutopas/tests/containers/verletListsCellBased/verletListsCells/VerletListsCellsTest.cpp
  tests/testAutopas/tests/iterators/ContainerIteratorTest.cpp
  tools/autopasTools/PseudoContainer.h
  tools/autopasTools/generators/ClosestPackingGenerator.h
  tools/autopasTools/generators/GaussianGenerator.h
  tools/autopasTools/generators/GridGenerator.h
  tools/autopasTools/generators/RandomGenerator.cpp
  tools/autopasTools/generators/RandomGenerator.h
  tools/autopasTools/generators/UniformGenerator.cpp
  tools/autopasTools/generators/UniformGenerator.h
Labels: bug, examples, refactoring

#928 Bug fixes to force calculation
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/AngularFunctions.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/CosineHandle.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DampingTerm.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DispersionTerm.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/Legendre.h
Labels: argon

#938 Add the pairwise krypton functor for AoS
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/KryptonPairFunctor.h
  examples/md-flexible/CMakeLists.txt
  examples/md-flexible/src/Simulation.cpp
  examples/md-flexible/src/TypeDefinitions.h
  examples/md-flexible/src/configuration/MDFlexConfig.cpp
  examples/md-flexible/src/configuration/MDFlexConfig.h
  examples/md-flexible/src/configuration/YamlParser.cpp
  examples/md-flexible/src/templateInstantiations/computeInteractionsKryptonFunctor.cpp
Labels: 3body

#936 Tuning Strategy Config Wipe Fix
  src/autopas/tuning/AutoTuner.cpp
  src/autopas/tuning/tuningStrategy/ActiveHarmony.cpp
  src/autopas/tuning/tuningStrategy/ActiveHarmony.h
  src/autopas/tuning/tuningStrategy/BayesianClusterSearch.cpp
  src/autopas/tuning/tuningStrategy/BayesianClusterSearch.h
  src/autopas/tuning/tuningStrategy/BayesianSearch.cpp
  src/autopas/tuning/tuningStrategy/BayesianSearch.h
  src/autopas/tuning/tuningStrategy/MPIParallelizedStrategy.cpp
  src/autopas/tuning/tuningStrategy/MPIParallelizedStrategy.h
  src/autopas/tuning/tuningStrategy/PredictiveTuning.cpp
  src/autopas/tuning/tuningStrategy/PredictiveTuning.h
  src/autopas/tuning/tuningStrategy/RandomSearch.cpp
  src/autopas/tuning/tuningStrategy/RandomSearch.h
  src/autopas/tuning/tuningStrategy/SlowConfigFilter.cpp
  src/autopas/tuning/tuningStrategy/SlowConfigFilter.h
  src/autopas/tuning/tuningStrategy/SortByName.cpp
  src/autopas/tuning/tuningStrategy/SortByName.h
  src/autopas/tuning/tuningStrategy/TuningStrategyInterface.h
  src/autopas/tuning/tuningStrategy/TuningStrategyLogger.cpp
  src/autopas/tuning/tuningStrategy/TuningStrategyLogger.h
  src/autopas/tuning/tuningStrategy/ruleBasedTuning/RuleBasedTuning.cpp
  src/autopas/tuning/tuningStrategy/ruleBasedTuning/RuleBasedTuning.h
Labels: bug, auto-tuning

#939 Add triwise krypton functor with AoS
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/KryptonExtendedATMFunctor.h
  examples/md-flexible/CMakeLists.txt
  examples/md-flexible/src/Simulation.cpp
  examples/md-flexible/src/TypeDefinitions.h
  examples/md-flexible/src/configuration/MDFlexConfig.cpp
  examples/md-flexible/src/configuration/MDFlexConfig.h
  examples/md-flexible/src/configuration/YamlParser.cpp
  examples/md-flexible/src/templateInstantiations/computeInteractionsKryptonFunctor.cpp
Labels: 3body

#940 HOTFIX: Add missing return value
  src/autopas/tuning/tuningStrategy/ruleBasedTuning/RuleBasedTuning.cpp
Labels: bug

#931 Fix Loading MPI Checkpoints
  examples/md-flexible/input/SpinodalDecomposition_equilibration.yaml
  examples/md-flexible/input/explodingLiquid.yaml
  examples/md-flexible/src/ParallelVtkWriter.cpp
  examples/md-flexible/src/ParticleSerializationTools.cpp
  examples/md-flexible/src/Simulation.cpp
  examples/md-flexible/src/Simulation.h
  examples/md-flexible/src/configuration/MDFlexConfig.cpp
  examples/md-flexible/src/configuration/MDFlexConfig.h
  examples/md-flexible/src/domainDecomposition/RegularGridDecomposition.cpp
  examples/md-flexible/src/domainDecomposition/RegularGridDecomposition.h
  examples/md-flexible/src/main.cpp
  examples/md-flexible/tests/configuration/GeneratorsTest.cpp
  src/autopas/AutoPasImpl.h
  src/autopas/LogicHandler.h
  src/autopas/tuning/tuningStrategy/ruleBasedTuning/RuleBasedTuning.cpp
  src/autopas/utils/ArrayMath.h
  src/autopas/utils/Math.cpp
  src/autopas/utils/Math.h
  tests/testAutopas/tests/iterators/RegionParticleIteratorTest.cpp
  tests/testAutopas/tests/utils/MathTest.cpp
Labels: bug, examples
