Repository AutoPas/AutoPas, pull requests merged in 2024-07, with the labels that each got.

#897 Dispersion term
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/AngularFunctions.cpp
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/AngularFunctions.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DampingTerm.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DispersionTerm.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/Parameters.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/RepulsiveTerm.h
Labels: 3body, argon

#896 Change Markdown Language Tags from cpp to c++
  docs/userdoc/CustomApplications.md
  docs/userdoc/Iterators.md
  docs/userdoc/Logging.md
  docs/userdoc/SimulationLoop.md
  src/autopas/AutoPasDecl.h
Labels: documentation

#899 Typo in Foldername
  applicationLibrary/CMakeLists.txt
  applicationLibrary/molecularDynamics/tests/templateInstantiations/AutoPasInstantiations.cpp
Labels: documentation, refactoring

#908 Extending array math
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/Legendre.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/RepulsiveTerm.h
  src/autopas/utils/ArrayMath.h
  tests/testAutopas/tests/utils/ArrayMathTest.cpp
Labels: 3body, argon

#909 Bug fixes
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/CosineHandle.cpp
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/CosineHandle.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DisplacementHandle.cpp
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DisplacementHandle.h
Labels: argon

#910 Moving template implementation in header files
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/AngularFunctions.cpp
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/AngularFunctions.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/CosineHandle.cpp
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/CosineHandle.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DisplacementHandle.cpp
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DisplacementHandle.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/RepulsiveTerm.h
Labels: argon

#915 Potential Implementation
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonFunctor.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/DispersionTerm.h
  applicationLibrary/molecularDynamics/molecularDynamicsLibrary/ArgonInclude/RepulsiveTerm.h
Labels: argon

#921 Fix Compiler Warning
  src/autopas/utils/SimilarityFunctions.h
Labels: bug
