Repository AutoPas/AutoPas, pull requests merged in 2024-10, with the labels that each got.

#952 Taking AVG over simulation for global values
  examples/md-flexible/src/Simulation.cpp
Labels: argon

#956 Fix `FuzzyTuningTest::testParseRuleFile()`
  tests/testAutopas/tests/tuning/tuningStrategy/fuzzyTuning/FuzzyTuningTest.cpp
Labels: bug, tests

#955 Change VTK Rank Output to UnstructuredGrid
  examples/md-flexible/README.md
  examples/md-flexible/scripts/convertMDFlexStrucToUnstrucGrids.sh
  examples/md-flexible/src/ParallelVtkWriter.cpp
  examples/md-flexible/src/ParallelVtkWriter.h
  examples/md-flexible/src/configuration/MDFlexConfig.cpp
Labels: examples
